html,
body {
	font-family: Arial, sans-serif;
	background-image: url(https://as2.ftcdn.net/v2/jpg/05/73/53/45/1000_F_573534520_YatcmNrgU8EAr5HTseStV0bv5IhIifcO.jpg);
}

#navbar-nav {
	flex-direction: row;
}

.pokemon-logo {
	margin: 0 auto;
	width: 25%;
	height: .25%;
}

.pokemon-logo-wrapper {
	text-align: center;
}

.container {
	background-color: #446376;
	border-radius: 10px;
	margin-top: 60px;
}

.page-header {
	border-bottom: 2px solid rgb(101, 148, 169);
}

h3 {
	color: red;
}

.btn {
	background-color: #FF0000;
	color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 0px 2px 2px rgb(0,0,0);
	cursor: pointer;
	margin-bottom: 10px;
}

.btn :hover {
	background-color: #FA8072;
}

.modal-content {
	margin: auto;
	display: inline-block;
	padding: 15px;
	width: 100%;
	max-width: 700px;
	text-align: center;
}