html,
body {
	font-family: Arial, sans-serif;
	background-image: url(https://as2.ftcdn.net/v2/jpg/05/73/53/45/1000_F_573534520_YatcmNrgU8EAr5HTseStV0bv5IhIifcO.jpg);
}

/* #navbar-nav {
	flex-direction: row;
} */

.pokemon-logo {
	margin: 0 auto;
	width: 25%;
	height: .25%;
}

.pokemon-logo-wrapper {
	text-align: center;
}

.container {
	background-color: #446376;
	border-radius: 10px;
	margin-top: 15px;
}

.page-header {
	border-bottom: 2px solid rgb(101, 148, 169);
}

h3 {
	color: white;
}

.btn {
	background-color: #CC0000;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 2px 2px rgb(0,0,0);
	cursor: pointer;
	margin-bottom: 10px;
	font-family: Comic Sans MS;
}

.btn :hover {
	background-color: #FA8072;
}

.search {
	width: 40%;
	height: 15px;
	margin: 0 auto;
	padding: 2% 2%;
	background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51,0.9)), url(https://as2.ftcdn.net/v2/jpg/05/73/53/45/1000_F_573534520_YatcmNrgU8EAr5HTseStV0bv5IhIifcO.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-bar {
	width: 100%;
	max-width: 700px;
	height: 12px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 15px 30px;
	backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 12px 10px;
	font-size: 20px;
	color: #cac7ff;
}

::placeholder {
	color: #cac7ff;
}

.search-bar button img {
	width: 25px;
}

.search-bar button {
	border: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #58629b;
	cursor: pointer;
	align-items: right;
}

.modal-content {
	margin: auto;
	display: inline-block;
	padding: 15px;
	width: 100%;
	max-width: 700px;
	text-align: center;
}